<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJvHqLb4gJMCpMVbwT3ff0RZ2aLXCXiHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1041079975484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>system.dev</string>
	<key>PROJECT_ID</key>
	<string>base-ffada</string>
	<key>STORAGE_BUCKET</key>
	<string>base-ffada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041079975484:ios:81a87a2b6723cf60c18d39</string>
</dict>
</plist>